.nav__primary {
  background-color: #162e4e;
  color: #fff;
  min-height: 40px;
}
/* .nav__primary,
.nav__secondary {
  display: grid;
  align-items: center;
  justify-content: center;
} */
.nav__primary--inner,
.nav__secondary--inner {
 min-width: 1200px;
}
.nav__primary .nav__primary--links a {
  color: #fff;
}

.nav__primary--links, .nav__primary--contact {
  display: inline-block;
}