.search__banner {
  padding: 75px;
  position: relative;
  background-color: #fff;
  background: linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        ),
        url('../img/hero-banner-background.jpg');
  /* RGBA is now fully supported so you don't technically need a fallback colour. Woo! https://caniuse.com/?search=rgba() */
  background-size: cover;
  background-repeat: no-repeat;
}

.search__banner .search__banner--heading {
  margin-top: 0;
  padding-top: 0;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 300;
  color: #fff;
  text-align: center;
}

.search__banner .search__form form {
  display: grid;
  grid-template-columns: 40% 40% 20%;
}

.search__banner .search__form .search__form--group {
  padding: 15px 30px;
  display: inline-block;
  background-color: #fff;
  border-radius: 0;
}
.search__banner .search__form .search__form--group + .search__form--group {
  border-left: 1px solid #dddcdd;
}
.search__banner .search__form .search__form--group label,
.search__banner .search__form .search__form--group input {
  display: block;
}
.search__banner .search__form .search__form--group label {
  padding-left: 1px;
  font-size: 14px;
}
.search__banner .search__form .search__form--group input {
  border: 0;
  width: 100%;

}
.search__banner .search__form .search__form--group input:focus {
  /* Added for assistive technologies. */
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.search__banner .search__form button {
  margin: 0; /* Overrides the margins from the .btn styles. */
}


/* SEARCH RESULTS */
.search__results--heading {
  color: #162e4e;
  font-weight: 200;
}

.search__results .btn {
  width: 100%;
}
.specialist {
 display: grid;
 grid-template-columns: 80% 20%;
}
.specialist__photo img {
  width: 100px;
  height: 100px;
}

.specialist_info--wrapper {
  display: flex;
}
.specialist__photo,
.specialist_info {
  display: inline-block;
}

.specialist__photo {
  margin-right: 30px;
}
.specialist__name {
  margin: 0 0 20px;
  font-size: 1.5rem;
  font-weight: 400;
}
.specialist__location {
  margin-bottom: 10px;
}
.specialist__links a {
  color: #3171b6;
  text-decoration: none;
}
.specialist__links a + a {
  margin-left: 30px;
}
.fa-hospital {
  color: #3171b6;
}
.specialist_desc {
  margin-top: 30px;
}
.specialist__accordion {
  display: block;
  margin-top: 15px;
}