.search__banner {
  
  padding: 75px;
  position: relative;
  background-color: #fff;
  background: linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        ),
        url('../img/hero-banner-background.jpg');
  /* RGBA is now fully supported so you don't technically need a fallback colour. Woo! https://caniuse.com/?search=rgba() */
  background-size: cover;
  background-repeat: no-repeat;
}

.search__banner .search__banner--heading {
  margin-top: 0;
  padding-top: 0;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 300;
  color: #fff;
  text-align: center;
}

.search__banner .search__form form {
  display: grid;
  grid-template-columns: 40% 40% 20%;
}

.search__banner .search__form .search__form--group {
  padding: 15px 30px;
  display: inline-block;
  background-color: #fff;
  border-radius: 0;
}
.search__banner .search__form .search__form--group label,
.search__banner .search__form .search__form--group input {
  display: block;
}
.search__banner .search__form .search__form--group input {
  border: 0;
}


.search__banner .search__form button {
  margin: 0; /* Overrides the margins from the .btn styles. */
}


/* SEARCH RESULTS */
.search__results--heading {
  color: #162e4e;
  font-weight: 200;
}

.search__results .btn {
  width: 100%;
}


.specialist {
 display: grid;
 grid-template-columns: 80% 20%;
}
.specialist__photo img {
  width: 100px;
  height: 100px;
}